<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>URL3</key>
    <string>https://10.12.35.45/?workspace=/home/knannuru/a/vs/.vscode/kws.code-workspace&amp;tkn=somelongasstokenthatyouthinkissecure</string>
</dict>
</plist>
